
Api/venv_web_avanzada/*

Api/.idea/*

Api/__pycache__/*

Api/config/__pycache__/*

Api/models/__pycache__/*

Api/controllers/label/__pycache__/*

Api/controllers/packege/__pycache__/*

Api/controllers/production/__pycache__/*

Api/controllers/users/__pycache__/*